body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: red;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px; /* Increased height */
}

span.span {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00;
}
div select{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  margin-right: 20px; 
}

#movies {
  margin-left: 20px;
}
main {
  margin-top: 20px;
  padding: 20px;
}
main img{
  width: 600px;
  height: 470px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 70%;
  margin: auto;
  padding-bottom: 60px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Style the navigation dots (optional) */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f7f2f2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

main h3{
  padding-left: 30px;
} 

